<div class="game">
  <h1>Have Fun</h1>
  <br />
  <table id="gameboard">
    <tbody>
      <!-- Each square is represented with lines of HTML below
            Each "y-pos-" represents each row of the 8 rows starting at the top with row 0 
              and ending at the bottom with row 7.

            Each "x-pos-" represents each square within each row.  There are 8 squares in
              each row starting with 7 and ending with 0.

            The color of each square is controlled by the "#gameboard" CSS in master.scss. -->

      <!-- I've hard coded all the pieces on each initial space for now.  You'll see the
              source image under each "x-pos-" in the first 2 and last 2 rows. -->        
      <tr class="y-pos-0">
        <td class="x-pos-7">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(7, 0, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(7, 0, @game.id).image %>
            <% end %>
          <% end %>
        </td>
        <td class="x-pos-6">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(6, 0, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(6, 0, @game.id).image %>
            <% end %>
          <% end %>
        </td>
        <td class="x-pos-5">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(5, 0, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(5, 0, @game.id).image %>
            <% end %>
          <% end %>
        </td>
        <td class="x-pos-4">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(4, 0, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(4, 0, @game.id).image %>
            <% end %>
          <% end %>        
        </td>
        <td class="x-pos-3">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(3, 0, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(3, 0, @game.id).image %>
            <% end %>
          <% end %>       
        </td>
        <td class="x-pos-2">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(2, 0, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(2, 0, @game.id).image %>
            <% end %>
          <% end %>
        </td>
        <td class="x-pos-1">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(1, 0, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(1, 0, @game.id).image %>
            <% end %>
          <% end %>        
        </td>
        <td class="x-pos-0">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(0, 0, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(0, 0, @game.id).image %>
            <% end %>
          <% end %>        
        </td>
      </tr>
      <tr class="y-pos-1">
        <td class="x-pos-7">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(7, 1, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(7, 1, @game.id).image %>
            <% end %>
          <% end %>        
        </td>
        <td class="x-pos-6">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(6, 1, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(6, 1, @game.id).image %>
            <% end %>
          <% end %>        
        </td>
        <td class="x-pos-5">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(5, 1, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(5, 1, @game.id).image %>
            <% end %>
          <% end %>        
        </td>
        <td class="x-pos-4">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(4, 1, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(4, 1, @game.id).image %>
            <% end %>
          <% end %>        
        </td>
        <td class="x-pos-3">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(3, 1, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(3, 1, @game.id).image %>
            <% end %>
          <% end %>        
        </td>
        <td class="x-pos-2">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(2, 1, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(2, 1, @game.id).image %>
            <% end %>
          <% end %>        
        </td>
        <td class="x-pos-1">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(1, 1, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(1, 1, @game.id).image %>
            <% end %>
          <% end %>        
        </td>
        <td class="x-pos-0">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(0, 1, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(0, 1, @game.id).image %>
            <% end %>
          <% end %>        
        </td>
      </tr>
      <tr class="y-pos-2">
        <td class="x-pos-7">
          <% if Piece.find_by_x_pos_and_y_pos_and_game_id(7, 2, @game.id) == nil %>
            <%= link_to game_path, method: :put do %>
              <div class="blank"></div>
            <% end %>
          <% else %>
            <%= link_to game_path, method: :put do %>
              <%= image_tag Piece.find_by_x_pos_and_y_pos_and_game_id(7, 2, @game.id).image %>
            <% end %>
          <% end %>
        </td>
        <td class="x-pos-6"></td>
        <td class="x-pos-5"></td>
        <td class="x-pos-4"></td>
        <td class="x-pos-3"></td>
        <td class="x-pos-2"></td>
        <td class="x-pos-1"></td>
        <td class="x-pos-0"></td>
      </tr>
      <tr class="y-pos-3">
        <td class="x-pos-7"></td>
        <td class="x-pos-6"></td>
        <td class="x-pos-5"></td>
        <td class="x-pos-4"></td>
        <td class="x-pos-3"></td>
        <td class="x-pos-2"></td>
        <td class="x-pos-1"></td>
        <td class="x-pos-0"></td>
      </tr>
      <tr class="y-pos-4">
        <td class="x-pos-7"></td>
        <td class="x-pos-6"></td>
        <td class="x-pos-5"></td>
        <td class="x-pos-4"></td>
        <td class="x-pos-3"></td>
        <td class="x-pos-2"></td>
        <td class="x-pos-1"></td>
        <td class="x-pos-0"></td>
      </tr>
      <tr class="y-pos-5">
        <td class="x-pos-7"></td>
        <td class="x-pos-6"></td>
        <td class="x-pos-5"></td>
        <td class="x-pos-4"></td>
        <td class="x-pos-3"></td>
        <td class="x-pos-2"></td>
        <td class="x-pos-1"></td>
        <td class="x-pos-0"></td>
      </tr>
      <tr class="y-pos-6">
        <td class="x-pos-7">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
        <td class="x-pos-6">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
        <td class="x-pos-5">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
        <td class="x-pos-4">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
        <td class="x-pos-3">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
        <td class="x-pos-2">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
        <td class="x-pos-1">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
        <td class="x-pos-0">
          <img alt="Black Pawn" src="/assets/pawnb.gif">
        </td>
      </tr>
      <tr class="y-pos-7">
        <td class="x-pos-7">
          <img alt="Black Rook" src="/assets/rookb.gif">
        </td>
        <td class="x-pos-6">
          <img alt="Black Knight" src="/assets/knightb.gif">
        </td>
        <td class="x-pos-5">
          <img alt="Black Bishop" src="/assets/bishopb.gif">
        </td>
        <td class="x-pos-4">
          <img alt="Black King" src="/assets/kingb.gif">
        </td>
        <td class="x-pos-3">
          <img alt="Black Queen" src="/assets/queenb.gif">
        </td>
        <td class="x-pos-2">
          <img alt="Black Bishop" src="/assets/bishopb.gif">
        </td>
        <td class="x-pos-1">
          <img alt="Black Knight" src="/assets/knightb.gif">
        </td>
        <td class="x-pos-0">
          <img alt="Black Rook" src="/assets/rookb.gif">
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <br /> -->
  <div class="game-nav-item">
    <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
  </div>


</div>

